<div class="container" style="border-radius: 3%;background-color: rgb(59, 163, 233);">
<link rel="stylesheet" href="/Proyectos/CURP/public/CSS/styles.css">
<div class="container">
    <div class="row">       <!--estra es la gsegundapagina del sitio y aqui se muestra la opcion de poder mandar
                                    dudas ocomentarios que llevaran a otra pagina-->
        <div class="col-md-12">
            <div class="well well-sm">
                <form  class="form-horizontal" method="POST" >
                    <fieldset>
                        <h1  class="text-center" style="color: white; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">CONTACTANOS</h1>                    
                        <p style="text-align: center; color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >LLENA EL FORMULARIO PARA CONTACTARNOS SOBRE CUALQUIER DUDA O COMENTARIO</p>  

                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                <label style="color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Nombre</label>
                                <input name="nombre" type="text" placeholder="Nombre" class="form-control" required><br>
                                
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>                       
                                <label style="color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Correo Electronico</label>
                                <input  name="email" type="email" placeholder="Correo Electronico" class="form-control"required><br>
                         
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                <label style="color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Duda o Comentario</label>
                                <textarea name="coment" type="text" class="form-control" required rows="7"></textarea><br>
                 
                                 <div class="col-md-12 text-center">
                                    <button type="submit" class=" btn-primary btn-lg " style="color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">ENVIAR</button>
                                 </div>
                        
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</div>