<head>
    <title>Tu CURP</title>
</head>
<div class="container" style="border-radius: 3%;background-color: rgb(59, 163, 233);">
<body>
    <h1 style="color: white;" class="text-center">la CURP perteneciente a<br>
                                                    {{apep}} {{apem}} {{nom}}<br> 
                                                    es:<br>
                                                    {{cambio4}}</h1>
    <form method="get" action="/" class="col-md-12 text-center">
    <button type="submit" class=" btn-primary btn-lg " style="color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">INICIO</button>
    </form>
<!--se mandan los valores recogidos por el router y mandamos a llamar al resultado de la curp-->
</body>
</div>