<head>
    <title>Contactanos</title>
</head>
<div class="container" style="border-radius: 3%;background-color: rgb(59, 163, 233);">
<div style= "font-size: 200%; padding: 10%; border: 5% solid black; color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >
    gracias por contactarnos {{nom}}, nos da gusto saber que te interesa, pronto recibiras una respuesta a tu correo {{email}}
</div>
   <div class="form-group">
    <div class="col-md-12 text-center">
        <form method="get" action="/">
    <button type="submit" class=" btn-primary btn-lg " style="color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">INICIO</button>
   </form>
    </div>
</div>
</div><!--<qui se reciben los datos del usuario al momento de mandar un comentario a la pagina 
    y esta le agradecera por tomarse el tiempo de escribirnos-->